@import "common.scss";

// title-section
.title-section {
  padding-top: 0;

  .page-title {
    height: 332px;
    background: url(../images/title_img.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// section02
.about-sec02 {
  .content-box {
    background-color: #fff;

    h3 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 60px;
    }
    img {
      width: 100%;
    }
  }
}

// section03
.about-sec03 {
  img {
    width: 100%;
    border-radius: 100%;
  }

  .about_text {
    padding: 0 97px;

    h3 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 60px;
    }
    .about_subscribe {
      color: $grey;
      font-size: 18px;
      font-weight: 300;
      padding-right: 97px;
    }
  }
}
.mb-30 {
  margin-bottom: 30px;
}

// media(반응형 구간)
// 1536 1280 1024 768 540 412 348

@media (max-width: 1536px) {
  .about-sec02 {
    .content-box {
      img {
        width: 90%;
      }
    }
  }
}
@media (max-width: 1280px) {
  section {
    padding: 60px 0;
  }
}

@media (max-width: 1024px) {
  .about-sec03 {
    .about_text {
      padding: 0 50px;
      h3 {
        font-size: 28px;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 768px) {
   section {
    padding: 50px 0;
  }
  .title-section {
    .page-title {
      height: 270px;
    }
  }

  // section02
  .about-sec02 {
    .content-box {
      h3 {
        margin-bottom: 50px;
      }
      img {
        width: 100%;
      }
    }
  }

  // section03
  .about-sec03 {
    .row {
      flex-wrap: wrap-reverse;

      .col-md-4, .col-md-8 {
        max-width: none;
        flex: none;
        width: 100%;
        margin: auto;
      }
    }
    .sec03-img {
      display: flex;
      align-items: center;
      justify-content: center;
      
      img {
        width: 50%;
      }
    }

    .about_text {
      text-align: center;
      padding: 0;

      h3 {
        margin-bottom: 50px;
      }
      .about_subscribe {
        width: 90%;
        padding: 0 50px;
        margin: auto;
        margin-bottom: 60px;

        .mb-30 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
   section {
    padding: 50px 0;
  }
  .title-section {
    .page-title {
      height: 270px;
    }
  }

  // section02
  .about-sec02 {
    .content-box {
      h3 {
        margin-bottom: 50px;
      }
      img {
        width: 100%;
      }
    }
  }

  // section03
  .about-sec03 {
    .row {
      flex-wrap: wrap-reverse;

      .col-md-4, .col-md-8 {
        max-width: none;
        flex: none;
        width: 100%;
        margin: auto;
      }
    }
    .sec03-img {
      display: flex;
      align-items: center;
      justify-content: center;
      
      img {
        width: 50%;
      }
    }

    .about_text {
      text-align: center;
      padding: 0;

      h3 {
        margin-bottom: 50px;
      }
      .about_subscribe {
        width: 90%;
        padding: 0 50px;
        margin: auto;
        margin-bottom: 60px;

        .mb-30 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .title-section {
    .page-title {
      height: 230px;
    }
  }

  // section02
  .about-sec02 {
    .content-box {
      h3 {
        margin-bottom: 40px;
      }

      img {
        width: 90%;
      }
    }
  }

  // section03
  .about-sec03 {
    .about_text {
      h3 {
        font-size: 24px;
      }
      .about_subscribe {
        padding: 0 67px;
      }
    }
    img {
      width: 50%;
    }
  }
}

@media (max-width: 412px) {
  section {
    padding: 40px 0;
  }

  .title-section {
    .page-title {
      height: 200px;
    }
  }

  // section02
  .about-sec02 {
    .content-box {
      h3 {
        font-size: 28px;
        margin-bottom: 30px;
      }
    }
  }

  // section03
  .about-sec03 {
    .about_text {
      h3 {
        font-size: 20px;
        margin-bottom: 28px;
      }
      .about_subscribe {
        font-size: 16px;
        padding: 0 25px;
        margin-bottom: 50px;

        .mb-30 {
          margin-bottom: 18px;
        }
      }
    }
  }
}

@media (max-width: 348px) {
  section{
    padding: 30px 0;
  }
  .title-section {
    .page-title {
      height: 170px;
    }
  }

  // section02
  .about-sec02{
    .content-box{
      h3{
        font-size: 24px;
        margin-bottom: 24px;
      }
    }
  }

  // section03
  .about-sec03{
    .about_text{
      h3{
        font-size: 18px;
      }
      .about_subscribe{
        font-size: 14px;
        padding: 0 25px;
        margin-bottom: 40px;
      }
    }
  }
}
